html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  margin-right: 10vw;
}

div {
  display: grid;
  justify-content: center;
}

.container {
  display: grid;
  height: 80vh;
  width: 80vh;
  grid-template-columns: repeat(16, 1fr);
  border: solid red;
}

.color-change {
  background: black;
}

.top-button {
  margin: 20px auto;
}

.multicolor-set-button {
  margin: auto 20px;
}